.common__section {
  background: linear-gradient(#D1FCFC, #212245b2),
    /* url("../assets/images/banner-02.jpg"); */
    url("https://png.pngtree.com/background/20210711/original/pngtree-cartoon-food-festival-picture-image_1114476.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}
