
.SideMenuAndPageContentProduct{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0,0,0,0.15);
    height: 100vh;
}
.HorizontalTable{
    display: flex;
    justify-content: center;
    align-items: center;   
    max-width: 100vw;
}
.HorizontalTable Table{
    width:80vw;
}
.pageContent{
    background-color:#F1F2F7 ;
    width: 100vw;
    height: 100vh;
}
.titlePage{
    margin-left: 60px;
}
.SearchWithIcon{
    display: flex;
    width: 300px;
}
.AddSeachBar{
    display: flex;
    justify-content: space-between;
    width: 84vw;
    margin-left: -20px;
}
.AddSeachBar button:hover{
    background-color: greenyellow !important;
}
