.SideMenuAndPageContentProduct {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin-bottom: 20px;
}
.HorizontalTable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pageContent {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px green;
    width: 82%;
}
.titlePage {
    margin-left: 60px;
}
.SearchWithIcon {
    display: flex;
    width: 300px;
}
.AddSeachBar {
    margin-left: -20px;
}
.AddSeachBar button:hover {
    background-color: greenyellow !important;
}
.MarketTitle {
    margin-left: -50px;
}
.AddSeachBar TextField{
        /* padding: 5,
        borderRadius: 5,
        paddingLeft: 5,
        width: 300,
        marginLeft:-30, */
        padding: 5px;
        border-radius: 5px;
        width: 300px;
        margin-left: -30px;
        text-decoration: none;
        outline: none;
}
