.SideMenuVertical {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 205px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #f1f2f7;
    border-radius: 10px;

}
.SideMenu {
    box-shadow: 1px 2px 8px green;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    position: fixed;
    background-color: darkgrey;
    top:10;
    margin-bottom: 10px;
    height: 88vh;

}
